<section class="hero is-white">
  <div class="hero-body">
    <div class="container">
      <h1 class="title" style="text-align: center;">
        はちゅ情報編集
      </h1>
    </div>
  </div>
</section>

<%= render 'error', reptile: @reptile %>
<%= render 'form', reptile: @reptile %>
