<section class="hero is-white">
  <div class="hero-body">
    <div class="container">
      <h1 class="title" style="text-align: center;">
        はちゅ一覧
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <%= render "reptiles/index", reptiles: @reptiles %>
</section>